<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask Intro</title>
    <meta name=viewport" content="width=device-width, initial-scale=1.0">
    <Link href="static/>bootstrap.min.css" rel="stylesheer" media="screen">
    <link rel="stylesheet" href="static/style.css">
    <link rel = "icon" href = "https://i.ibb.co/hFz3sV4/pngwing-com.png" type = "image/x-icon">
</head>
<body>

<div class="buttonTutorial">
    <a href="/TutorialPage1"><img src="https://i.ibb.co/wK9FXXd/Tutorial.png"/></a>
</div>

<div class="img_logo">
    <a href='/start'><img src="https://i.ibb.co/1Tdm7Y5/Cheap-Eats-Logo.png" alt="CHEAP EATS tm"></a>
</div>


<div class="TitleTutorial">
    <p>Your Favourites List</p>
</div>


<div id="CheckedListBox2">

    <div id="rec2">
        <a href="/Recipies_Instructions"><img id="FoodImage" src="https://i.ibb.co/JHpvywT/recipie2.png"></a></div>

</div>


<div class="buttonItems">
    <a href="/start"><img src="https://i.ibb.co/3vMPCPj/Items-1.png"/></a>
</div>

<div class="buttonRecipies">
    <a href="/Recipies"><img src="https://i.ibb.co/VCKxjKd/Recipies-1.png"/></a>
</div>

<div class="buttonList">
    <a href="/List"><img src="https://i.ibb.co/WpnbcWL/List-1.png"/></a>
</div>

<div class="buttonFavourites">
    <a><img src="https://i.ibb.co/Pr20Z29/Favourites.png"/></a>
</div>
</body>
</html>