<head>

    <title>CheapEats</title>
    <meta name=viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel = "icon" href = "https://i.ibb.co/hFz3sV4/pngwing-com.png" type = "image/x-icon">

</head>

<body>

<div class="buttonTutorial">
    <a href="/TutorialPage1"><img src="https://i.ibb.co/wK9FXXd/Tutorial.png"></a>
</div>

<div class="img_logo">
    <a href='/start'><img src="https://i.ibb.co/1Tdm7Y5/Cheap-Eats-Logo.png" alt="CHEAP EATS tm"></a>
</div>

<div class="TitleTutorial">
    <p>{{ oml.recipe }} Shopping List</p>
</div>

<div id="CheckedListBox1">
        <div tabindex="1" id="list1"><label>{{ oml.item_1 }}</label><input type="checkbox" id="cb1"/><br></div>
        <div tabindex="2" id="list1"><label>{{ oml.item_2 }}</label><input type="checkbox" id="cb1"/><br></div>
        <div tabindex="1" id="list1"><label>{{ oml.item_3 }}</label><input type="checkbox" id="cb1"/><br></div>
        <div tabindex="2" id="list1"><label>{{ oml.item_4 }}</label><input type="checkbox" id="cb1"/><br></div>
        <div tabindex="1" id="list1"><label>{{ oml.item_5 }}</label><input type="checkbox" id="cb1"/><br></div>

</div>

<div id="listbutton">
        Click Items to Confirm
</div>

</div>






<div class=ButtonGroup">
    <div class="buttonItems">
        <a href="/start"><img src="https://i.ibb.co/3vMPCPj/Items-1.png"/></a>
    </div>

    <div class="buttonRecipies">
        <a href="/loading"><img src="https://i.ibb.co/VCKxjKd/Recipies-1.png"/></a>
    </div>

    <div class="buttonList">
        <a href="/List"><img src="https://i.ibb.co/WpnbcWL/List-1.png"/></a>
    </div>

    <div class="buttonFavourites">
        <a href="/Favourites"><img src="https://i.ibb.co/Pr20Z29/Favourites.png"/></a>
    </div>
</div>
</body>
</html>