<!DOCTYPE html>
<html lang="en">
<head>
    <META http-equiv="refresh" content="5;/Recipies">

    <title>Flask Intro</title>
    <meta name=viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/style.css">
    <link rel = "icon" href = "https://i.ibb.co/hFz3sV4/pngwing-com.png" type = "image/x-icon">
</head>
<body>
<div class="buttonTutorial">
    <a href="/TutorialPage1"><img src="https://i.ibb.co/wK9FXXd/Tutorial.png"/></a>
</div>

<div class="img_logo">
    <img src="https://i.ibb.co/1Tdm7Y5/Cheap-Eats-Logo.png" alt="CHEAP EATS tm">
</div>

<div class="TitleTutorial">
    <p>Creating your recipes based on your ingredients!</p>
</div>

<div id="loading">
<div id="loading_image"><img src="https://i.ibb.co/zRprxXg/loading.png" ></div>
</div>



</body>
</html>
