<!DOCTYPE html>
<html lang="en">
<head>

    <title>CheapEats</title>
    <meta name=viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="https://i.ibb.co/hFz3sV4/pngwing-com.png" type="image/x-icon">
</head>
<body>

<div class="buttonTutorial">
    <a href="/TutorialPage1"><img class="tutorial" src="https://i.ibb.co/wK9FXXd/Tutorial.png"></a>
</div>

<div class="img_logo">
    <a href='/start'><img src="https://i.ibb.co/1Tdm7Y5/Cheap-Eats-Logo.png" alt="CHEAP EATS tm"></a>
</div>

<div class="TitleTutorial">
    <p>What items do you have?</p>
</div>

<div class="Itemgroup">
    <div class="buttonmeat">
        <a href="/MeatandFish"><img class="meat" src="https://i.ibb.co/gjvpwvj/meat.png" alt="meat"></a>
    </div>

    <div class="buttondairy">
        <a href="/DairyandEggs"><img class="dairy" src="https://i.ibb.co/7jqDQ3J/Dairy.png" alt="Dairy"></a>
    </div>

    <div class="buttonoil">
        <a href="/CookingOil"><img class="oil" src="https://i.ibb.co/Rc272Xd/Oil.png" alt="Oil"></a>
    </div>

    <div class="buttonsauce">
        <a href="/Sauces"><img class="sauce" src="https://i.ibb.co/WGKYLwD/Sauces.png" alt="Sauce"></a>
    </div>

    <div class="buttonfruit">
        <a href="/FruitandVeg"><img class="fruit" src="https://i.ibb.co/wdWnLyy/Veges.png" alt="Fruit and Veg"></a>
    </div>

    <div class="buttonwheat">
        <a href="/WheatandGrains"><img class="wheat" src="https://i.ibb.co/V2zJtTc/Wheat.png" alt="wheat"></a>
    </div>
</div>


<div class=ButtonGroup">
    <div class="buttonItems">
        <a href="/"><img src="https://i.ibb.co/3vMPCPj/Items-1.png"/></a>
    </div>

    <div class="buttonRecipies">
        <a href="/loading"><img src="https://i.ibb.co/VCKxjKd/Recipies-1.png"/></a>
    </div>

    <div class="buttonList">
        <a href="/List"><img src="https://i.ibb.co/WpnbcWL/List-1.png"/></a>
    </div>

    <div class="buttonFavourites">
        <a href="/Favourites"><img src="https://i.ibb.co/Pr20Z29/Favourites.png"/></a>
    </div>


</body>

</html>