<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">

</head>
<body>

<div class="img_logo">
    <a href='/start'><img src="https://i.ibb.co/1Tdm7Y5/Cheap-Eats-Logo.png" alt="CHEAP EATS tm"></a>
</div>

<div class="TitleTutorial"><p>Tutorial Guide</p>
</div>

<div id="Tutorial_numbers">
    <img src="https://i.ibb.co/PT2k1jt/Tutorialnumbers.png" alt="Tutorial Numbers">
</div>

<div id="container">
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat
    </div>

</div>


<div class="buttonItems">
    <a href="/start"><img src="https://i.ibb.co/3vMPCPj/Items-1.png"/></a>
</div>

<div class="buttonRecipies">
    <a href="/Recipies"><img src="https://i.ibb.co/VCKxjKd/Recipies-1.png"/></a>
</div>

<div class="buttonList">
    <a href="/List"><img src="https://i.ibb.co/WpnbcWL/List-1.png"/></a>
</div>

<div class="buttonFavourites">
    <a href="/Favourites"><img src="https://i.ibb.co/Pr20Z29/Favourites.png"/></a>
</div>


</body>
</html>